@media (max-width: 1300px) {
  .imagens {
    max-width: 100%;
  }
}

@media (max-width: 950px) {
  .list {
    height: auto;
  }
  .imagens {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .list {
    height: auto;
  }
  .imagens {
    align-content: center;
    margin: 60px 300px;
  }
}
