body {
  font-family: "Public Sans", sans-serif;
}

main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.imagem {
  position: relative;
  width: 325px;
  height: 430px;
}
.imagem img {
  width: 100%;
}

.informacoes {
  position: absolute;
  bottom: 40px;
  left: 20px;
  color: #fff;
}
.informacoes h1 {
  font-size: 30px;
  font-weight: 700;
}
.informacoes p {
  font-size: 17px;
  font-weight: 300;
}
