body{
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
}

.logo{
  display: flex;
  align-items: center;
}
.logo h1{
  font-weight: 800;
  font-size: 20px;
}
        
.navegacao{
  display: flex;
  align-items: center;
  gap: 20px;
}

.padrao{
  padding: 10px 5px;
  transition: 0.3s ease-in-out
}
.sessao:hover{
  background-color: var(--cor-padrao);
  color: #fff;
}
.botao{
  background-color: var(--cor-padrao);
  color: #fff;
  border-radius: 10px;
  font-weight: 300;
  font-size: 15px;
}